 .App {
  text-align: center;
}
input.form-ip{
  width:inherit;
}
.form-cont{
  border:2px solid black;
  border-radius: 10px;
  padding: 20px;
  background-color: lightblue;
}
.form-jumbo{
  background: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);
  background-size: cover;
}
